@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 0;
}

::selection {
  background-color: #5a0c6988;
  color: #fff;
}
