---
import Footer from "../components/footer/Footer";
import Header from "../components/header/Header";

const { title } = Astro.props;
---

<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>{title}</title>

    <link rel="icon" type="image/x-icon" href="/static/quizicon.png" />
  </head>

  <body>
    <header role="banner">
      <Header />
    </header>
    <slot />
    <footer role="contentinfo">
      <Footer />
    </footer>
  </body>
</html>
